<div class='login-container'>
  <%= render partial: 'shared/form', locals: { source: 'new_session' }  %>
  <br>
  <div class='login-switch'>
    <%= link_to "New user? Sign up here.", new_user_url %>
  </div>
</div>
