<div class='login-container'>
  <div class="lines"></div>
  <%= render partial: 'shared/form', locals: { source: 'new_user' }  %>
  <div class='login-switch'>
    <%= link_to "Already have an account? Log in here.", new_session_url %>
  </div>
</div>
