.login-container {
  width: 700px;
  margin: 0 auto;
  color: steelblue;
  background: lightyellow;
  font-family: courier, monospace;
  font-size: large;
  position: relative;
  padding-bottom: 10px;
}

h2.login-header {
  margin: 0px;
  padding: 5px;
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

.login-subheader {
  font-size: large;
  font-weight: bold;
  padding: 10px;
  padding-left: 45px;
  border-bottom: 1px dotted #aaa;
}

.login-form, .guest-login-container,
.login-switch, .login-spacer {
  padding: 10px;
  padding-left: 45px;
  border-bottom: 1px dotted #aaa;
  font-size: medium;
}

.login-input {
  background: lightyellow;
  width: 200px;
  font-size: medium;
  padding: 3px;
  color: black;
  // border: 1px dotted #aaa;
}

.login-input:focus {
  border: 2px solid #ccc;
  background: white;
  margin: -2px
}

.guest-login-button:hover, .login-switch a:hover, .login-button:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.error-list {
  margin: 0 auto;
  padding: 10px 0;
  background: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  font-size: medium;
  text-align: center;
  width: 700px;
  font-family: courier, monospace;
}
