.navbar-container {
  margin: 0px;
  padding: 10px;
  color: steelblue;
  background: white;
  width: 680px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  font-family: courier, monospace;
  font-size: medium;
}

.navbar-container > a {
  margin: 5px;
  padding: 10px;
  width: 80px;
  color: steelblue;
  font-weight: bold;
}

.navbar-container > a:hover {
  color: black;
}

.navbar-username {
  color: white;
  background: steelblue;
  border-left: black 1px solid;
  border-right: black 1px solid;
  margin: 5px;
  padding: 10px;
  width: 80px;
}

a.navbar-logout {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  color: steelblue;
  font-weight: bold;
}

a.navbar-active {
  color:black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 4px;
  margin-right: 4px;
}
