.poem-form {
  border: 2px black solid;
  color: navy;
  padding: 5px;
  background: lightgoldenrodyellow;
  margin: 5px 0px;
}

.poem-form div {
  padding: 10px;
  margin: 10px;
}

.poem-form label {
  display: block;
}
