.poem {
  color: steelblue;
  padding: 5px;
  background: lightyellow;
  font-size: medium;
  font-family: courier, monospace;
  position: relative;
}

.poem-title {
  font-weight: bold;
  font-size: x-large;
  margin: 5px 0px 10px 0px;
  padding-left: 40px;
  border-bottom: 1px black solid;
  position: relative;
  padding-right: 200px;
}

.poem-author {
  position: absolute;
  font-size: small;
  font-weight: normal;
  bottom: 0;
  right: 5px;
  padding-right: 5px;
  text-align: right;
}

.stanzas-remaining {
  text-indent: 40px;
}

.stanzas-remaining {
  padding: 5px 0;
  border-bottom: 1px #aaa dotted;
  font-size: medium;
}

.poem ul {
  list-style: none;
  white-space: pre-line;
}

.incomplete-line-container {
  padding: 1px 0 0 40px;
}

.incomplete-line-container:not(:last-child) > .incomplete-poem-line {
  background: steelblue;
  color: steelblue;
  padding: 0 2px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stanza {
  position: relative;
  padding-left: 40px;
  font-size: medium;
}

.stanza:hover {
  color: black;
}

.clicked-stanza {
  color: navy;
  border-bottom: 1px #aaa dotted;
  margin-bottom: -1px;
  border-top: 1px #aaa dotted;
  margin-top: -1px;
}

.stanza-click-content {
  position: absolute;
  bottom: 0;
  right: 5px;
  padding-right: 5px;
  color: navy;
  font-size: x-small;
  text-align: right;
}

.stanza:hover .stanza-click-content {
  color: black;
}

.clicked-stanza > .stanza-body {
  max-width: 450px;
}

.favorites-container {
  padding: 5px 0 5px 40px;
  border-bottom: 1px #aaa dotted;
  border-top: 1px #aaa dotted;
}

.favorite-button {
  padding: 5px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.favorite-button:hover {
  background: steelblue;
  color: lightyellow;
  cursor: pointer;
}

.favorites-list {
  font-size: small;
  margin-top: 5px;
}

.back-button {
  text-indent: 40px;
  text-decoration: underline;
  margin: 0 0 5px 0;
  padding: 5px 0;
  display: block;
  border-bottom: 1px #aaa dotted;
}

.back-button:hover {
  color: black;
}
