// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, article,
h1, h2, p, strong, em, a, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

#multiverse-container {
  width: 800px;
  // background-image: url(http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-2.jpg);
  margin: 0 auto;
}

ul.poem-index, ul.poem-archive {
  list-style: none;
  margin: 0 auto;
  overflow: auto;
  max-height: 360px;
}

.home-container li, .archive-container li {
  border: 2px black solid;
  color: steelblue;
  padding: 5px;
  background: lightyellow;
  margin: 5px 0px;
  height: 100px;
}

.home-container li:hover, .archive-container li:hover {
  // For transparent background but not text,
  // if using texture for container background.
  // background: rgba(250,250,210,0.5);
  color: navy;
  background: lightgoldenrodyellow;

}

.list-item-title {
  font-weight: bold;
  font-size: large;
  border-bottom: 1px black solid;
  margin: 5px 0px 10px 0px;
}
