// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#multiverse-container {
  width: 700px;
  margin: 0 auto;
}

.poem-index, .poem-archive {
  list-style: none;
  margin: 0 auto;
  height: 500px;
  overflow: auto;
  font-size: medium;
  padding: 0;
  font-family: courier, monospace;
}

.poem-index li, .poem-archive li {
  position: relative;
  border-bottom: 2px black solid;
  border-top: 2px black solid;
  color: steelblue;
  padding: 5px;
  background: lightyellow;
  margin: 5px 0px;
  height: 150px;
  white-space: pre-line;
}

.poem-index a:first-child > li, .poem-archive a:first-child > li {
  margin-top: 0;
  border-top: 0;
}

.poem-index a:last-child > li, .poem-archive a:last-child > li {
  margin-bottom: 0;
}

.list-item-title {
  font-weight: bold;
  font-size: x-large;
  border-bottom: 1px black solid;
  margin: 5px 0px 10px 0px;
  text-indent: 40px;
}

.contributed > .list-item-title {
  font-weight: normal;
}

.last-contribution > .list-item-title {
  opacity: 0.5;
}

.list-item-preview {
  padding-left: 40px;
  font-size: medium;
}

.status-message {
  font-size: small;
  opacity: 1.0;
  color: black;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.lines {
  position: absolute;
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 35px;
}

.home-container li:hover, .archive-container li:hover {
  color: black;
  background: lightgoldenrodyellow;
}​

.about-container {
  // sass error without this
}
